@mixin button1 {
  button {
    outline: none;
    border: none;
    margin: 0;
    background: none;
    cursor: pointer;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--border);
    }

    &:focus-visible {
      background-color: var(--border);
    }

    svg {
      path {
        fill: var(--text);
      }
    }
  }
}

.Page {
  margin-top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;

  .fields {
    max-width: 500px;
    width: calc(100% - 20px);
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    display: grid;
    grid-gap: 10px;

    .button {
      display: flex;
      border: 1px solid var(--border);
      height: 40px;
      overflow: hidden;

      button {
        flex-grow: 1;
        outline: none;
        border: none;
        margin: 0;
        padding: 10px;
        background: none;
        cursor: pointer;
        color: var(--text);

        &:hover {
          background-color: var(--border);
        }

        &:focus-visible {
          background-color: var(--border);
        }
      }
    }
  }

  .table {
    width: fit-content;
    padding: 10px;
    margin: 0 auto;

    .header {
      border-collapse: collapse;
      position: sticky;
      top: 0;
      left: auto;
      right: auto;

      thead {
        tr {
          th {
            height: 30px;
            border: 1px solid var(--border);
            background-color: var(--bg);
            color: var(--text);
            padding: 5px;
            position: relative;
            font-weight: normal;

            &.action {
              padding: 0;

              .action-buttons {
                display: flex;
                height: 100%;

                @include button1;

                button {
                  width: 40px;
                }
              }
            }

            .sort-buttons {
              position: absolute;
              top: 0;
              left: 0;
              display: grid;

              @include button1;

              button {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }

    .body {
      border-collapse: collapse;
      margin-top: -1px;

      tbody {
        tr {
          td {
            height: 30px;
            border: 1px solid var(--border);
            background-color: var(--bg);
            color: var(--text);
            padding: 5px;

            &.action {
              padding: 0;

              .action-buttons {
                display: flex;
                height: 100%;

                @include button1;

                button {
                  width: 40px;
                }
              }
            }
          }
        }
      }
    }
  }

  & > p {
    text-align: center;
  }

  .changelog {
    padding: 10px;
    display: grid;
    grid-gap: 10px;

    .card {
      padding: 0 20px;
      border: 1px solid var(--border);
    }
  }

}
