@mixin button1 {
  button {
    outline: none;
    border: none;
    margin: 0;
    background: none;
    cursor: pointer;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--border);
    }

    &:focus-visible {
      background-color: var(--border);
    }

    svg {
      path {
        fill: var(--text);
      }
    }
  }
}

.Page {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;

  .fields {
    max-width: 500px;
    width: calc(100% - 20px);
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    display: grid;
    grid-gap: 10px;

    .field {
      display: flex;
      border: 1px solid var(--border);
      height: 40px;
      overflow: hidden;

      &__title {
        flex-grow: 1;
        border-right: 1px solid var(--border);
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 100px;
        min-width: 100px;

        p {
          margin: 0;
          font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: var(--text);
        }
      }

      &__value {
        flex-grow: 1;

        input {
          width: calc(100% - 20px);
          height: calc(100% - 20px);
          padding: 10px;
          margin: 0;
          border: none;
          outline: none;
          background: none;

          font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: var(--text);
        }

        p {
          margin: 0;
          font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          color: var(--text);
          height: 100%;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: left;
          padding: 0 10px;
          white-space: nowrap;
        }
      }
    }

    button {
      flex-grow: 1;
      outline: none;
      border: none;
      margin: 0;
      padding: 10px;
      background: none;
      cursor: pointer;
      color: var(--text);

      &:hover {
        background-color: var(--border);
      }

      &:focus-visible {
        background-color: var(--border);
      }
    }
  }

  .table {
    width: fit-content;
    padding: 10px;
    margin: 0 auto;

    .header {
      border-collapse: collapse;
      position: sticky;
      top: 0;
      left: auto;
      right: auto;

      thead {
        tr {
          th {
            height: 30px;
            border: 1px solid var(--border);
            background-color: var(--bg);
            color: var(--text);
            padding: 5px;
            position: relative;
            font-weight: normal;

            &.action {
              padding: 0;

              .action-buttons {
                display: flex;
                height: 100%;

                @include button1;

                button {
                  width: 40px;
                }
              }
            }

            .sort-buttons {
              position: absolute;
              top: 0;
              left: 0;
              display: grid;

              @include button1;

              button {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }

    .body {
      border-collapse: collapse;
      margin-top: -1px;

      tbody {
        tr {
          td {
            height: 30px;
            border: 1px solid var(--border);
            background-color: var(--bg);
            color: var(--text);
            padding: 5px;

            &.action {
              padding: 0;

              .action-buttons {
                display: flex;
                height: 100%;

                @include button1;

                button {
                  width: 40px;
                }
              }
            }
          }
        }
      }
    }
  }

}
