$height: 50px;
$padding: 10px;

.Navbar {
  height: calc($height - $padding * 2);
  width: calc(100% - $padding * 2);
  position: fixed;
  top: 0;
  left: 0;
  padding: $padding;
  display: flex;
  z-index: 1;
  border-bottom: 1px solid var(--border);
  align-items: center;
  justify-content: space-between;

  .menu {
    height: 100%;
    width: calc($height - $padding * 2);
    border: 1px solid var(--border);

    button {
      border: none;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: var(--border);
      }

      &:focus-visible {
        background-color: var(--border);
      }
    }
  }

  .title {
    position: absolute;
    height: calc(100% - $padding * 2);
    left: $height;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--text);
    }
  }

  .dropdown {
    background-color: var(--bg);
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    position: absolute;
    top: $height;
    left: 0;
    padding: 1px $padding $padding;
    display: grid;
    grid-gap: $padding;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    overflow-y: auto;
    max-height: calc(100vh - $height - $padding * 2);

    button {
      background: none;
      display: flex;
      align-items: center;
      justify-content: left;
      height: calc($height - $padding * 2);
      width: 100%;
      cursor: pointer;
      outline: none;
      color: var(--text);
      border: 1px solid var(--border);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 0;

      &:hover {
        background-color: var(--border);
      }

      &:focus-visible {
        background-color: var(--border);
      }

      .icon {
        height: calc($height - $padding * 2);
        min-width: calc($height - $padding * 2);
        position: absolute;
        color: var(--text);
      }

      .text {
        width: 100%;
        margin: 0 calc($height - $padding * 2);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--text);
        text-align: left;
      }
    }
  }
}
