body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--bg);
}

:root {
  //--border: #c7c7c7;
  //--text: #3a3a3a;
  //--bg: #fff;
  --border: #f0f;
  --text: #f00;
  --bg: #aff;
}
